*.iml
.gradle
.kotlin
**/build/
**/.cxx/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/manager/signing.properties
/out
/signing.properties
*.jks
*.keystore
*.p12
*.pem
*.key
